
       <section id="aboutdiscoverone" class="text-center my-5">
            <div class="container">
              <!-- <div > -->
                    <h4>Discover Tute today. Book a free trial lesson.</h4> 
                    <p>We would love the opportunity to demonstrate how tute works and why our online lessons are so effective.</p>
                  <p> To book a free trial lesson please complete the form or call +91 22 62104000​.
                </p>
              <!-- </div> -->
              <div class="col-lg-12 col-md-7 ">
    
                    <div class="row">
                            <div class="col-lg-6 col-md-6 box wow fadeInRight">
                                    <input type="text" class="dropdown" style="width: 270px; margin-right: -210px"  placeholder="First name*">
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight">
                                    <input type="text" class="dropdown" style="width: 270px;"  placeholder="Email ID*">
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight">
                                    <input type="text" class="dropdown" style="width: 270px; margin-right: -210px"  placeholder="Phone No*">
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight">
                                    <input type="text" class="dropdown" style="width: 270px;"  placeholder="Select Subject*">
                            </div>
                        </div>
                        <a href="#about" class="btn btn-success" style="width: 570px">Book A Free Trial Demo</a>
              </div>
              </div>
              </section>