.book-trail-container {
    margin-top: -52px;
}

.book-trail-container .form {

}

.book-trail-container .form label {
    margin-top: 20px;
}

.book-trail-container .form input, select {
    height: 50px;
    padding-left: 15px;
}

.book-trail-container .form button{
    margin-top: 30px;
}