<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- <h1><a href="#intro" class="scrollto">Tute</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="#intro"><img src="/assets/img/tute(2).png" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Recorded Session</a></li>
                <li><a href="#about">Live Session</a></li>
                <!-- <li><a href="#features">Live Session</a></li> -->
                <li><a href="#pricing">Book A trial</a></li>
                <li><a href="#team">Contact Us</a></li>
                <li><a [routerLink]="['/register']" data-toggle="modal" data-target="#exampleModal" >Sign Up</a></li>
                <!-- <li><a href="#contact">Contact Us</a></li> -->
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<!-- <section id="intro">
  <div class="container">
    <div class="intro-text">
        
        <p>You can Master anything. Where do you want to start?</p>
       
        <div class="col-lg-8 col-md-7 ">

            <div class="row">

                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                   
                    <select id="dropdown" style="width: 350px;">
                        <option value="0">Type Of Subject</option>
                        <option value="1">Online</option>
                        <option value="2">Classroom</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                   
                    <select id="dropdown" style="width: 350px;">
                        <option value="0">Type Of Class</option>
                        <option value="1">Online</option>
                        <option value="2">Classroom</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                   
                    <select id="dropdown" style="width: 350px;">
                        <option value="0">Type Of Session</option>
                        <option value="1">Online</option>
                        <option value="2">Classroom</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                   
                    <select id="dropdown" style="width: 350px;">
                        <option value="0">Type Of Class</option>
                        <option value="1">Online</option>
                        <option value="2">Classroom</option>
                    </select>
                </div>
            </div>

        </div>
      </div>
    </div>

    <div class="product-screens">

        <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
            <img src="/src/assets/img/product-screen-1.png" alt="">
        </div>

        <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
            <img src="/src/assets/img/product-screen-2.png" alt="">
        </div>

        <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
            <img src="/src/assets/img/product-screen-3.png" alt="">
        </div>

    </div>

</section> -->
<!-- #intro -->

