<div id="app" class="container n1"  *ngIf="this.user.hideElement" >
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="/assets/tute-logo.png" width="100" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
 aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">    
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link multimenuBtn" (mouseover)="triggerMultiLevelMenu('RecordedSession')" routerLink="/recordedSession">Recorded Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (mouseover)="triggerMultiLevelMenu('LiveSession')" routerLink="/liveSession">Live Sessions</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bookTrail">Book a Trial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Contact us</a>
                </li>
    
                <li class="nav-item">
                <button class="btn btn-outline-success" type="submit" (click)="open2(content2)">Sign up</button>
                </li>
            </ul>

            <div class="multiLevelNavBar" (mouseleave)="triggerOffMultiLevelMenu()" *ngIf="isActivatedMultiLevelMenu">
                <div class="carrot1" *ngIf="LiveSessionMenu"></div>
                <div class="carrot" *ngIf="RecorededSessionMenu"></div>
                <div class="NavBar face1">
                    <div class="navbarHeader">
                        <span>Choose Board</span>
                    </div>
                    <div class="navbarBody">
                        <li (click)="triggerOnLevels('Board', syllabus.value)" *ngFor="let syllabus of this.user.level.model.list" value="{{syllabus.value}}">{{syllabus.text}} <span> <img src="../../assets/icons/left-arrow-gray.png" width="30" /> </span></li>
                    </div>
                </div>
                <div class="NavBar face2" *ngIf="ClasslevelBanner">
                    <div class="navbarHeader">
                        <span>Choose Class</span>
                    </div>
                    <div class="navbarBody">
                        <li (click)="triggerOnLevels('Classes', class.value)" *ngFor="let class of this.user.class.model.list" value="{{class.value}}">{{class.text}} <span> <img src="../../assets/icons/left-arrow-gray.png" width="30" /> </span></li>
                    </div>
                </div>
                <div class="NavBar face3" *ngIf="subjectLevelBanner">
                    <div class="navbarHeader">
                        <span>Choose Subject</span>
                    </div>
                    <div class="navbarBody" >
                        <li (click)="triggerOnLevels('Subject', Subject.value+' '+Subject.text)" *ngFor="let Subject of this.user.subject.model.list" value="{{Subject.value}} {{Subject.text}}">{{Subject.text}} <span> <img src="../../assets/icons/left-arrow-gray.png" width="30" /> </span></li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<!--Other pages header-->
<div id="app" class="container n2"  *ngIf="this.user.hideElement0">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="/assets/tute-logo.png" width="100" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
 aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">    
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/recordedSession">Recorded Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/liveSession">Live Sessions</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bookTrail">Book a Trial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Contact us</a>
                </li>
    
                <li class="nav-item">
                <button class="btn btn-outline-success" type="submit" (click)="open2(content2)">Sign up</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--Other pages header-->
<ng-template #content let-modal>
    <div class="container">
        <div class="row main">
            <div class="col-md-6 bg-popup">
                    <img src="/assets/tute-logo.png" width="100" alt="logo" class="logo-popup">
                <p class="white">Learn lessons online in small group <br> by highly qualified teachers <br>at an affordable cost.</p>

                <p class="white1">By logging into Tute, you agree to our <br><u> Terms of use & Privacy Policy</u></p>
            </div>
            <div class="col-md-6 bg-popup1">
                    <button type="button" id="login-close" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                <h2 class="login">Login</h2>
                <p class="signup">Don't have an account?<a (click)="open1(content1)" class="orange"> Sign up</a></p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <input type="text"  formControlName="username" class="form-control input-popup" placeholder="Email ID"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div class="require" *ngIf="f.username.errors.required">*Username is required</div>
                            </div>
                        <input type="password" formControlName="password" class="form-control input-popup"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div class="require" *ngIf="f.password.errors.required">*Password is required</div>
                            </div>
                        <button type="submit" class="input-btn">Login</button>
                </form>
                
                </div>
        </div>
    </div>
</ng-template>

<ng-template #content1 #content2 let-modal1>
    <div class="container">
        <div class="row main">
            <div class="col-md-6 bg-popup">
                    <img src="/assets/tute-logo.png" width="100" alt="logo" class="logo-popup">
                <p class="white">Learn lessons online in small group <br> by highly qualified teachers <br>at an affordable cost.</p>
    
                <p class="white1">By logging into Tute, you agree to our <br><u> Terms of use & Privacy Policy</u></p>
            </div>
            <div class="col-md-6 bg-popup1">
                <button type="button" id="register-close" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="login">Sign Up</h2>
                <p class="signup">Already a member?<a (click)="open(content)" class="orange"> Log in</a></p>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

                    <div class="row">

                        <div class="col-md-6">
                                <input type="text"  formControlName="fname" class="form-control input-rpopup" placeholder="First Name"  [ngClass]="{ 'is-invalid': rsubmitted && r.fname.errors }"/>
                                <div *ngIf="rsubmitted && r.fname.errors" class="invalid-feedback">
                                <div class="require1" *ngIf="r.fname.errors.required">*First Name is required</div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <input type="text"  formControlName="lname" class="form-control input-rpopup" placeholder="Last Name"  [ngClass]="{ 'is-invalid': rsubmitted && r.lname.errors }"/>
                                <div *ngIf="rsubmitted && r.lname.errors" class="invalid-feedback">
                                <div class="require1" *ngIf="r.lname.errors.required">*Last Name is required</div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="password"  formControlName="pwd" class="form-control input-rpopup" placeholder="Password"  [ngClass]="{ 'is-invalid': rsubmitted && r.pwd.errors }"/>
                            <div *ngIf="rsubmitted && r.pwd.errors" class="invalid-feedback">
                            <div class="require1" *ngIf="r.pwd.errors.required">*Password is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="password"  formControlName="cpwd" class="form-control input-rpopup" placeholder="Confirm Password"  [ngClass]="{ 'is-invalid': rsubmitted && r.cpwd.errors }"/>
                                <div *ngIf="rsubmitted && r.cpwd.errors" class="invalid-feedback">
                                <div class="require1" *ngIf="r.cpwd.errors.required">*Confirm Password is required</div>
                            </div>
                        </div>
                    </div>

                    <input type="text"  formControlName="email" class="form-control input-r1popup" placeholder="Email ID"  [ngClass]="{ 'is-invalid': rsubmitted && r.email.errors }"/>
                    <div *ngIf="rsubmitted && r.email.errors" class="invalid-feedback">
                        <div class="require1" *ngIf="r.email.errors.required">*Email ID is required</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text"  formControlName="phone" class="form-control input-rpopup" placeholder="Phone Number"  [ngClass]="{ 'is-invalid': rsubmitted && r.phone.errors }" maxlength="10"/>
                            <div *ngIf="rsubmitted && r.phone.errors" class="invalid-feedback">
                                <div class="require1" *ngIf="r.phone.errors.required">*Phone Number is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="date"  formControlName="dob" class="form-control input-rpopup" placeholder="Date of birth"  [ngClass]="{ 'is-invalid': rsubmitted && r.dob.errors }"/>
                            <div *ngIf="rsubmitted && r.dob.errors" class="invalid-feedback">
                                <div class="require1" *ngIf="r.dob.errors.required">*DOB is required</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="input-rbtn">Login</button>
                </form>
            </div>
        </div>
    </div>   
</ng-template>
              
<!-- First Name, Last Name, Password, Confirm Password, Email ID, Phone Number, Date of Birth -->