/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family:"Product Sans";
  src: url("/assets/template/product-sans/ProductSans-Regular.ttf") format("truetype");
}
*{
  font-family: 'Product Sans' !important;
}

.btn-outline-success:hover{
  background-color: orange !important;
}

a, button{
  cursor: pointer;
}

.ls-dropdown{
    background-color: transparent;
    padding: 10px;
    width: 195px;
    border-radius: 5px;
    border-color: lightgrey;
    color: #3069bd;
    font-size:18px;
    font-weight: bold;
}
.drop-main{
    padding: 50px;
}
.drop-title{
    margin-left: 5px;
    color: grey;
}
.drop-heading{
    font-size: 22px;
    font-weight: bold;
}
.drop-btn{
    padding: 10px;
    width: 195px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid lightgrey;
}
.drop-btn1{
    padding: 10px;
    width: 195px;
    font-size: 18px;
    color:white;
    font-weight: bold;
    background-color: #3069bd;
    border-radius: 10px;
    border: 1px solid #3069bd;
}
.drop-second{
    margin-top: 30px;
}

.ls-content{
    background-color: #f8f8f8;
}
.ls-content-row{
    padding-top: 50px;
    padding-bottom: 50px;
}
.ls-content-p{
     font-size: 25px;
}
.ls-content-b{
     font-size: 32px;
}

.ls-card{
    margin-bottom: 70px;
}
.book-p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.book-p1{
    font-size: 22px;
    /* font-weight: bold; */
    text-align: center;
}
.book-input{
    width: 100%;
    border-radius: 10px;
    border:1px solid lightgray;
    padding: 10px;

}
.book-input-textarea{
    width: 100%;
    border-radius: 10px;
    border:1px solid lightgray;
    padding: 10px;

}
.book-main{
    margin-bottom: 20px;
    margin-left: 200px;
}
.book-btn{
    width: 59%;
    padding: 15px;
    background-color: #3dce3dc4;
    border: 0;
    color: white;
    border-radius: 10px;
    margin-left: 230px;
    font-size: 20px;
    font-weight: bold;
}
.book{
    padding-bottom: 50px;
    padding-top: 20px;
}
.color-black{
    color: #000000;
}

.drop-btn:focus{
    outline: none !important;
}

/* .ng-invalid:not(form){
    border: 1px solid rgb(199, 65, 65);
} */

input:focus{
    outline: none !important;
}

select:focus{
    outline: none !important;
}


.FromValidation .ng-touched{
    border: 1px solid rgb(199, 65, 65);
}

.FromValidation .ng-valid{
    border: 1px solid lightgray;
}

:disabled{
    cursor: not-allowed;
}